@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 89.77%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header .wrapper{
  display: flex;
  flex-direction: column;
}
.navbar1{
  display: flex;
  justify-content: space-between;
  background-color:#fffdff;
  text-transform: capitalize;
  margin-top: 10px;
  padding: 5px 0;
}
nav li:nth-child(5){
  text-transform: uppercase;
}
.navbar1 h1{
  font-weight:bold;
  font-size: 18px;
}
.search_cart_icons ul {
  display: flex;
  justify-content: space-between;
}
.navbar1 nav ul{
  display: flex;
  justify-content: space-between;
}
.more-dropdown{
  border: none;
  outline: none;
  background-color: transparent;
  color: #6a76a6;
  font-size: 17px;
}
.search_cart_icons a {
  color:black;
  text-indent: -9999px;
}
.search_cart_icons a::before {
  padding: 4px;
  border-radius: 50%;
  font-family: "FontAwesome";
  font-size: 20px;
  float: right;
  text-indent: 0;
}
.search_cart_icons li:nth-child(1) a::before { content: '\f002'; }
.search_cart_icons li:nth-child(2) a::before { content: '\f07a'; }

.navbar1 nav {
  flex-basis: 67%;
  margin-right: 5%;
}
.navbar1 a{
  color: #656366;
  border-style: hidden;
}
.search_cart_icons {flex-basis: 10%;}

.navbar2{
  display: flex;
  background-color: #3361b6;
  padding: 15px 0;
  text-transform: capitalize;
}
.navbar2 h2{
  font-weight: 500;
  font-size: 22px;
}
.navbar2 nav {
  flex-basis: 90%;
  margin-left: 5%;
}
.navbar2 nav ul{
  display: flex;
}
.navbar2 li{
  flex-basis: 19%;
}
.navbar2 a{
  color: #d5e0f7;
}
.solution_dropdown,.public_sector_dropdown {
  border: none;
  outline: none;
  background-color: transparent;
  color: #d5c6d5;
  font-size: 17px;
}




/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
main .wrapper{
  width: 75.85%;
}
.banner{
  background-image: url(https://dummyimage.com/1280x500/#26358/0011ff.jpg);
  position: relative;
}
.watch_video a {
  border: solid;
  padding: 2% 5%;
  background-color: #26358c;
  color: white;
}
.home ul {
  position: absolute;
  left: 5%;
  padding: 5px;
  top: 10px;
  background: white;
}
.home::after {
  font-family: "Font Awesome 5 Duotone";
  font-weight: 900;
} 
.sales{
  position: absolute;
  left: 74%;
  background: #000000;
  padding: 15px 0;
  top: 0%;
  width: 26%;
}
.sales ul{display: flex;}
.sales li {flex-basis: 50%;}
.sales a{color: #ddd8d2;}
.banner.wrapper{
  position: relative;
}
.banner_content{
  position: absolute;
  top: 22%;
  text-align: left;
}
.banner_content h3 {
  font-size: 36px;
  padding: 1% 0;
}
.banner_content p {
  text-align: left;
  font-size: 20px;
  padding: 5px 0;
}
/* digital transformation*/

.digital_transformation{
  background-color: #f1f2f6;
}
.digital_transformation .wrapper{
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}
.digital_content{
  flex-basis: 50%;
}
.digital_content h3{
  font-size: 35px;
}
.digital_content p{
  text-align: left;
  padding: 10px 0;
}
/*tranform products*/
.products {
  margin: 80px 0;
}
.products h3{
  font-size: 32px;
  padding: 5px 0;

}
.products p{
  padding: 15px 0;
  border-bottom: 1px solid;
}
.engage_customer{
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  border-bottom: 1px solid;
}
.engage_cust_icon{
  flex-basis: 7%;
}
.engage_content{
  flex-basis: 59%;
}
.engage_content h4{
  font-size: 32px;
}
.engage_content p{
  padding: 10px 0;
}
/**/
.empower_employees{
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  border-bottom: 1px solid;
}
.empower_emp_icon{
  flex-basis: 7%;
}
.empower_content{
  flex-basis: 59%;
}
.empower_content h4{
  font-size: 32px;
}
.empower_content p{
  padding: 10px 0;
}
/**/
.optimise_operations{
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  border-bottom: 1px solid;
}
.optimise_icon{
  flex-basis: 7%;
}
.optimise_content{
  flex-basis: 59%;
}
.optimise_content h4{
  font-size: 32px;
}
.optimise_content p{
  padding: 10px 0;
}
/**/
.transform{
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  border-bottom: 1px solid;
}
.tranform_icon{
  flex-basis: 7%;
}
.transform_content{
  flex-basis: 59%;
}
.transform_content h4{
  font-size: 32px;
}
.transform_content p{
  padding: 10px 0;
}
/**/
.resources{
  padding: 80px 0;
  background-color: #f1f2f6;
}
.resource_icon{
  border-bottom: 1px solid;
}
.story{
  display: flex;
  padding: 25px 0;
  border-bottom: 1px solid;
}
.story-content{
  flex-basis: 70%;
}
.story-content h4{
  font-size: 32px;
}
.story-content p {
  padding: 16px 0;
}
/**/
.creativity{
  display: flex;
  padding: 25px 0;
  border-bottom: 1px solid;
}
.creativity-content{
  flex-basis: 70%;
}
.creativity-content h4{
  font-size: 32px;
}
.creativity-content p {
  padding: 16px 0;
}
/**/
.communications{
  display: flex;
  padding: 25px 0;
  border-bottom: 1px solid;
}
.communications-content{
  flex-basis: 70%;
}
.communications-content h4{
  font-size: 32px;
}
.communications-content p {
  padding: 16px 0;
}
/**/
.tips{
  display: flex;
  padding: 25px 0;
  border-bottom: 1px solid;
}
.tips-content{
  flex-basis: 70%;
}
.tips-content h4{
  font-size: 32px;
}
.tips-content p {
  padding: 16px 0;
}
/**/

.view_all_post_button {
  padding: 75px 0;
  text-align: center;
}
.view_all_post_button a {
  border: 1px solid;
  padding: 10px;
  background-color: #3263b8;
  color: #bfdefc;
}
/**/
.reports-contact .wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.reports-contact a {
  color: whitesmoke;
}
.reports {
  flex-basis: 50%;
  background-color: #3973d6;
  padding: 10% 0;
  padding-left: 12%;
}

.contacts {
  flex-basis: 50%;
  background-color: #152350;
  padding: 12% 0;
  padding-left: 15%;
}

.reports ul {
  display: flex;
  flex-direction: column;
}
.contacts ul {
  display: flex;
  flex-direction: column;
}
.socials {
  text-align: center;
  padding: 22px 0;
  background-color: #504b51;
}

.socials li a {
  color: white;
}
.top-footer{
  padding: 40px 0;
}
.top-footer a {
  color: #000000;
}
.top-footer ul{
  display: flex;
}
.top-footer ul li{
  flex-basis: 38%;
}
.top-footer ul li ul{
  display: flex;
  flex-direction: column;
}
.top-footer h5{
  padding: 15px 0;
  font-weight: bold;
}
.top-footer ul li ul li {
  padding: 7px 0;
}
.bottom-footer {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.boottom-footer ul li{
  padding: 0 1%;
}

.bottom-footer li {
  padding: 7px;
}
.bottom-footer a{
  color: #000000;
}










/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  